@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                @{
                    var username = @ViewBag.Username;
                    var permissions = ViewBag.Permissions;                   
                    <h1 class="display-4">Logged in as: @username</h1>
                    <h3 class="display-10">Permission value: @permissions</h3>
                }
                
                
            </div>
            <div class="text-center">
                <form asp-controller="Login" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
        </div>

        
    </div>
</div>
@{  
    if (permissions == 1)
    {
        @Html.Partial("_Student")
    }
    else if(permissions == 5)
    {
        @Html.Partial("_Teacher")     
    }
    else if (permissions == 10)
    {
        @Html.Partial("_Admin")
    }
}

@if(ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function() {
            alert('@Html.Raw(ViewBag.Message)');
        };
    </script>
}

