@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/alert_style.css" asp-append-version="true" />
</head>
<div id="customAlert" class="custom-alert" style="display:none;">
    <div class="custom-alert-content">
        <p id="customAlertMessage"></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                @{
                    var username = @ViewBag.Username;
                    var permissions = ViewBag.Permissions;                   
                    <h1 class="display-4">Logged in as: @username</h1>
                    <h3 class="display-10">Permission value: @permissions</h3>
                }
                
                
            </div>
            <div class="text-center">
                <form asp-controller="Login" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
        </div>

        
    </div>
</div>
@{  
    if (permissions == 1)
    {
        @Html.Partial("_Student")
    }
    else if(permissions == 5)
    {
        @Html.Partial("_Teacher")     
    }
    else if (permissions == 10)
    {
        @Html.Partial("_Admin")
    }
}

<script>
function showCustomAlert(message) {
    document.getElementById('customAlertMessage').innerText = message;
    document.getElementById('customAlert').style.display = 'block';

    setTimeout(function() {
        document.getElementById('customAlert').style.display = 'none';
    }, 2500);
}

function closeCustomAlert() {
    document.getElementById('customAlert').style.display = 'none';
}

@if(ViewBag.Message != null)
{
    <text>
    window.onload = function() {
        showCustomAlert('@Html.Raw(ViewBag.Message)');
    };
    </text>
}
</script>

