<!DOCTYPE html>
<html>

<head>
    @Html.Partial("_Alert")
    <title>Modify Class</title>
    <style>
        #table {
            font-family: Arial;
            border-collapse: collapse;
            width: 100%;
        }

            #table td {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #table tr:hover {
                background-color: #ddd;
            }

            #table th {
                padding: 8px;
            }
    </style>

    <script>
        function confirmRemove(classCode, studentId, name, surname) {
            if (confirm("Are you sure you want to remove the student " + name + " " + surname + " from the class?")) {
                // If the user confirms, redirect to the Remove action
                //window.location.href = "@Url.Action("RemoveStudentFromClass", "Class")" + "?classCode=" + code + "&studentId=" + studentId;
                var url = '/Class/RemoveStudentFromClass?classCode=' + classCode + '&studentId=' + studentId;
                window.location.href = url;
            }
        }
    </script>
</head>



<body>
    <h1>Modify Class</h1>

    

    <!-- Form to modify class -->
    <form action=Modify method="post">
@*        <input type="hidden" name="classId" value="@Model.ClassId">
*@        
        <div class="form-group">
            <label for="name">Class Name:</label>
            <input type="text" id="name" name="name" class="form-control" value=@ViewBag.Class.Name required>
        </div>
        <div class="form-group">
            <label for="studentCount">Student count:</label>
            <input type="number" id="studentCount" name="studentCount" class="form-control" value=@ViewBag.Class.StudentsCount required>
        </div>
        <div class="form-group">
            <label for="year">Year:</label>
            <input type="number" id="year" name="year" class="form-control" value=@ViewBag.Class.Year required>
        </div>
        
        <div class="form-group">
            <label for="code">Code:</label>
            <input type="text" id="code" name="code" class="form-control" value=@ViewBag.Class.Code readonly required>
        </div>

        <div class="form-group">
            <label for="school">School:</label>
            <input type="text" id="school" name="school" class="form-control" value="@ViewBag.Class.FkSchoolNavigation.Name" readonly required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Update Class</button>
    </form>

    <br>
    

    @if(ViewBag.Students.Count > 0)
    {
        <h3>Students</h3>
        <table id="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                <td>Student</td>
                <td>Student</td>
            </tr>*@

            @foreach(var student in ViewBag.Students)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>
                    <a href="javascript:void(0);" onclick="confirmRemove('@student.FkClass', '@student.FkUser', '@student.Name', '@student.Surname');" class="btn btn-danger">Remove student from class</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }

    @if(ViewBag.StudentsToAdd.Count > 0)
    {
        <h3>Add Students to Class</h3>
    <!-- Table of students and button to add new students -->
    <table id="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                <td>Student2</td>
                <td>Student2</td>
                <td>
                    <a href="@Url.Action("AddStudentToClass", "Class", new { id="Student2" })" class="btn btn-success">Add to Class</a>
                </td>
            </tr>*@


            @foreach (var student in ViewBag.StudentsToAdd)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>
                        <a href="@Url.Action("AddStudentToClass", "Class", new { classCode = ViewBag.Class.Code, studentId = student.FkUser })" class="btn btn-success">Add to Class</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }

    @*@if (ViewBag.Message != null)
    {
        <script>
            alert("@ViewBag.Message");
        </script>
    }*@
    
</body>
</html>
