<!DOCTYPE html>
<html>
<head>
    <title>User List</title>

    <style>
        #table {
            font-family: Arial;
            border-collapse: collapse;
            width: 100%;
        }

            #table td {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #table tr:hover {
                background-color: #ddd;
            }

            #table th {
                padding: 8px;
            }
    </style>

</head>
<body>
    <div>
        <h1>Class List</h1>
        @if (ViewBag.Permissions >= 9)
        {
            <div style="text-align: right;">
                <a href="@Url.Action("Register", "User")" class="btn btn-success">Create a new user</a>
            </div>
        }

    </div>

    <table id="table">
        <!-- Table headers -->
        <tbody>
            <tr>
                <th colspan="2"><center><h2>Admins</h2></center></th>
            </tr>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
            @foreach (var admin in ViewBag.Admins)
            {
                <tr>
                    <td>@admin.Username</td>
                    <td>@admin.Email</td>
                </tr>
            }
        </tbody>
    </table>
    <br><br>
    <table id="table">
        <!-- Table headers -->



        <tbody>
            <tr>
                <th colspan="4"><center><h2>Students</h2></center></th>
            </tr>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
            </tr>
            @foreach (var student in ViewBag.Students)
            {
                <tr>
                    <td>@student.FkUserNavigation.Username</td>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.FkUserNavigation.Email</td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <br>
    <table id="table">
        <!-- Table headers -->
            <tr>
                <th colspan="5"><center><h2>Teachers</h2></center></th>
            </tr>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone number</th>
                <th>Email</th>
            </tr>
        <tbody>
            @foreach (var teacher in ViewBag.Teachers)
            {
                <tr>
                    <td>@teacher.FkUserNavigation.Username</td>
                    <td>@teacher.Name</td>
                    <td>@teacher.Surname</td>
                    <td>@teacher.PhoneNumber</td>
                    <td>@teacher.FkUserNavigation.Email</td>

                    <!-- Other user details -->
                </tr>
            }
        </tbody>
    </table>

@*    <table id="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Student</td>
                <td>Student</td>
            </tr>
            <tr>
                <td>Student2</td>
                <td>Student2</td>
            </tr>
        </tbody>
    </table>*@
</body>
</html>