@model Student
<head>
    <link rel="stylesheet" href="~/css/tiles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/alert_style.css" asp-append-version="true" />

</head>
@Html.Partial("_Alert")
<div class="container text-center pb-5 mt-5">
    <h1 class="my-4 name">@Model.Name @Model.Surname</h1>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card tiles">
                <div class="card-body">
                    <a href="@Url.Action("Subjects", "Teacher", new { student_id = Model.FkUser })" class="stretched-link">
                        <h5 class="card-title">Write Mark</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card tiles">
                <div class="card-body">
                    <a href="@Url.Action("GradeBook", "User", new { student_id = Model.FkUser })" class="stretched-link">
                        <h5 class="card-title">Gradebook</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

