@*@model List<Schedule> // Assuming your model is a list of Schedule objects

<h2>Schedule List</h2>

<div>
    <a asp-controller="Schedule" asp-action="CreateSchedule" class="btn btn-primary">Create Schedule</a>
    <a asp-controller="Schedule" asp-action="GenerateSchedule" class="btn btn-primary">Generate Schedule</a>
</div>

<table>
    <tr>
        <th>Class Name</th>
        <th>Semester Start</th>
        <th>Semester End</th>
    </tr>
    @foreach (var schedule in Model)
    {
            <tr>
                <td>@schedule.className</td>
                <td>@schedule.SemestarStart.ToShortDateString()</td>
                <td>@schedule.SemestarEnd.ToShortDateString()</td>
                <td>
                    <form asp-controller="Schedule" asp-action="WeeklySchedule" method="get">
                        <input type="hidden" name="scheduleId" value="@schedule.ScheduleId" />
                        <input type="submit" value="View" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Schedule" asp-action="DeleteSchedule" method="get">
                        <input type="hidden" name="scheduleId" value="@schedule.ScheduleId" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Schedule" asp-action="EditSchedule" method="get">
                        <input type="hidden" name="scheduleId" value="@schedule.ScheduleId" />
                        <input type="submit" value="Edit" />
                    </form>
                </td>
            </tr>
    }
</table>

*@